@import url('reset.css');

body
{
	background:#E4C651;	
	font-family:Helevetica;
}


#header
{
	background:#212121;
	-moz-box-shadow: 0 0 6px 1px #666;
	-webkit-box-shadow: 0 0 6px 1px #666;
	box-shadow: 0 0 6px 1px #666;
}

#header a
{
	color:#fff;	
	text-decoration:none;
}

#header #logo h1
{
	color:#fff;
	font-size:1.4em;
	padding:15px;
}

#header ul#navigation
{
	background:#e8e8e8;
}

#header ul#navigation a
{
	color:#212121;
}

#header ul#sub-navigation
{
	text-align:right;
}

#header ul
{
	padding:20px;
}

#header ul li
{
	display:inline;	
	padding:5px;
}

#main-content
{
	background:#fff;
	-moz-box-shadow: 0 0 6px 1px #666;
	-webkit-box-shadow: 0 0 6px 1px #666;
	box-shadow: 0 0 6px 1px #666;
	padding:20px;
	margin:20px 0;
}

#main-content div.form-fields
{
	background:#f8f8f8;
	border-bottom:1px solid #ccc;
	margin:5px 0;
	padding:10px;
}

#main-content div.form-fields label
{
	display:block;
	margin:5px 0;
}

#main-content div.form-fields input[type=text]
{
	font-size:1.2em;
	padding:10px;
	width:50%;	
}

#main-content div.form-fields textarea
{
	padding:10px;
	width:90%;	
}

#main-content table
{
	font-size:0.9em;
	width:100%;
}

#main-content table thead th
{
	background:#e8e8e8;
	border-bottom:2px solid #ccc;
	color:#333;
	padding:10px;
	text-align:left;
}

#main-content table tbody tr:nth-child(1) td
{
	padding-top:20px
}

#main-content table tbody tr:nth-child(even) td
{
	background:#f8f8f8;
}

#main-content table tbody td
{
	padding:15px 10px;
}

#footer
{
	text-align:center;
}

#footer ul li
{
	display:inline;
	font-size:0.9em;	
	padding:0 5px;
}

#footer a
{
	color:#fff;
}

.container
{
	margin:0 auto;
	width:1100px;
}