fieldset
{
	background:#f8f8f8;	
}

input[type=text], input[type=password]
{
	padding:5px;
	width:150px;	
}

label
{
	float:left;
	font-size:0.9em;
	font-weight:bold;
	margin-right:10px;
	text-align:right;
	width:130px;
}

legend
{
	margin:0;
	text-align:left;
}

div.form-fields
{
	clear:both;
	padding:10px 5px;
}

input.cart-item-quantity-input
{
	border:1px solid #e8e8e8;
	padding:5px;
	width:25px;
}