@import url('reset.css');

*
{
	margin:0 auto;
}

body
{
	background: url(/public/images/bg5-5.jpg) repeat;
	font-family: "calluna-1","calluna-2", sans-serif;
	color:#28160B;
}

a
{
	color:#000;
	font-family: "edding-780-1","edding-780-2";
	text-decoration:none;
	text-transform:lowercase;
}

a:hover
{
	color:#8DB249;
}

div.box
{
	background:#fff;
	-moz-box-shadow: 0 0 4px 1px #ccc;
	-webkit-box-shadow: 0 0 4px 1px #ccc;
	box-shadow: 0 0 4px 1px #ccc;
	padding:0 0 5px 0;
	margin-bottom:50px;
}

div.box h2
{
	background:#28160B;
	color:#fff;
	margin-bottom:10px;
	padding:10px;
}

div.box h4
{
	line-height:1.5em;
	padding:10px;
}

div.box h4.cart-empty
{
	border-bottom:1px dotted #623C28;
	margin:5px;
	text-align:center;
}

div.box ul
{
	padding:10px;
}

div.box ul li
{
	border-bottom:1px dotted #ccc;
	margin:5px;
	padding:5px 0;
}

div.roasts-shopping-cart-list
{
	height:120px;
	margin:10px;
	overflow:auto;
}

div.roasts-shopping-cart-list h3.coffee-type a:hover
{
	color:#000;
	border-bottom:2px dotted green;
}

div.roasts-shopping-cart-list p
{
	color:#4A5229;
	font-size:0.8em;
	margin:5px 10px 5px 15px;
	padding:2px;
	text-transform:lowercase;
}

div.roasts-shopping-cart-description p
{
	color:#4A5229;
	font-size:0.8em;
	margin:5px 10px 5px 15px;
	padding:2px;
	text-transform:lowercase;
}

div.roasts-shopping-cart-list p.notes
{
	color:#7CA644;
	width:250px;
}

div#logo h1
{
	font-size:2.3em;
	color:#fff;
	background:#28160B;
	width:200px;
	padding:12px;
}

div#logo h1 a
{
	color:#fff;
	font-family: "calluna-1","calluna-2", sans-serif;
}

div#wrapper
{
	width:980px;
}

div#banner
{
	width:700px;
	height:367px;
	background: url(/public/images/feat-shadow.png);
}

div#banner img
{
	padding:14px 13px;
}

div#content
{
	/* background:#fff url(/public/images/bag.jpg) right center no-repeat; */
	margin:10px 5px;
	padding:10px;
}

div#content h2
{
	background:none;
	color:#000;
	font-family: "edding-780-1","edding-780-2";
	font-size:3em;
	margin:5px;
}

div#content h2 span
{
/*	background:#FFF000 !important;*/
}

h3.coffee-type
{
	color:#000;
	font-family: "edding-780-1","edding-780-2";
	font-size:1.7em;
	padding:10px;
}

h3.coffee-type span.price
{
	color:green;
	font-size:0.6em;
}

div.blog-list
{
	font: normal normal normal 14px/normal Georgia, Times, serif;
	line-height: 1.5;
}

div#main
{
	width:700px;
}

div#navigation
{
	margin:0;
}

div#navigation ul
{
	
}

div#navigation ul li
{
	display:inline;
	margin:0px;
	padding:0;
}

div#navigation ul li a
{
	background:#8BB9C0;
	color:#28160B;
	font-size:1.1em;
	padding:5px;
}

div#navigation ul li a:hover
{
	color:#fff;
}

div#sidebar
{
	margin-top:5px;
	width:250px;
}

div#header
{
	margin:0 10px 50px 10px;
}

div#logo img
{
	
}

div#footer
{
	background:#8BB9C0;
	margin:50px 5px;
	padding:10px;
}

div#footer ul
{
	margin:0 20px 0 0;
	padding:0;
	width:180px;
}

div#footer ul li
{
	border-bottom:1px dotted #ccc;
	color:#28160B;
	font-size:0.9em;
	font-weight:bold;
	line-height:1.3em;
}

div#footer ul li a
{
	color:#fff;
	font-family: "calluna-1","calluna-2", sans-serif;
	font-weight:normal;
	margin-left:5px;
}

div#footer ul li a:hover
{
	color:#7CA644;
}

div#footer img
{
}